<ion-view view-title="我的余额">
  <ion-content>
    <div class="text-center"style="margin-top: 4rem;line-height: 2rem">
      <img src="img/mymoneyicon.png" style="width: 6rem;height: 6rem">
      <p>我的余额</p>
      <span class="assertive" style="font-size: 2.5rem">0.0元</span>
    </div>
    <a href="#/tab/recharge" class="button positive-bg light" style="width: 12rem;border-radius: 2rem;margin: 2rem 0 1rem 20%">我要充值</a>
    <a href="#/tab/recharge_list" class="button positive positive-border" style="width: 12rem;border-radius: 2rem;margin-left: 20%">充值记录</a>
  </ion-content>
</ion-view>
