<ion-view view-title="我要充值">
  <ion-content>
    <div>
      <p class="positive padding">|&nbsp;&nbsp;选择充值金额</p>
      <ul class="list row text-center">
        <li class="item col col-33" style="margin-right: 0.3rem;padding: 0.7rem 0;border-radius: 0.7rem"><a>10元</a></li>
        <li class="item col col-33" style="margin-right: 0.3rem;padding: 0.7rem 0;border-radius: 0.7rem"><a>20元</a></li>
        <li class="item col" style="padding: 0.7rem 0;border-radius: 0.7rem"><a>50元</a></li>
      </ul>
      <ul class="list row text-center">
        <li class="item col col-33" style="margin-right: 0.3rem;padding: 0.7rem 0;border-radius: 0.7rem"><a>100元</a></li>
        <li class="item col col-33" style="margin-right: 0.3rem;padding: 0.7rem 0;border-radius: 0.7rem"><a>200元</a></li>
        <li class="item col" style="padding: 0.7rem 0;border-radius: 0.7rem"><a>300元</a></li>
      </ul>
      <ul class="list row text-center">
        <li class="item col col-33" style="margin-right: 0.3rem;padding: 0.7rem 0;border-radius: 0.7rem"><a>500元</a></li>
        <li class="item col" style="border-radius: 0.7rem"><input class="text-center" type="text" placeholder="输入其他金额" style="display: inline-block"/></li>
      </ul>
    </div>
    <div>
      <p class="positive padding">|&nbsp;&nbsp;支付方式</p>
      <div class="list">
        <label class="item item-radio">
          <ion-radio radio-color="balanced">微信支付</ion-radio>
        </label>
        <label class="item item-radio">
          <ion-radio radio-color="balanced">支付宝支付</ion-radio>
        </label>
      </div>
    </div>
    <div class="row" style="border-top: 1px solid #ccc;margin-top: 2rem">
      <span class="col col-60" style="line-height: 2rem">支付金额：10000</span>
      <a class="col button button-small light" style="background: #ccc;margin: 0;font-size: 1rem;line-height: 2rem">确认支付</a>
    </div>
  </ion-content>
</ion-view>
