<ion-view view-title="关于我们">
  <ion-content>
    <div class="text-center" style="padding: 2rem 0">
      <img src="img/start-icon.png" style="width: 5rem;height: 5rem">
      <p style="font-size: 0.8rem;color: #9f9f9f">版本号V1.0</p>
    </div>
    <div class="list padding">
      <a class="item item-icon-right dark" href="#/tab/feedback" style="border-radius: 0.5rem 0.5rem 0 0">意见反馈<i class="icon ion-chevron-right icon-accessory"></i></a>
      <a class="item item-icon-right dark" href="#/tab/Copyright">版权声明<i class="icon ion-chevron-right icon-accessory"></i></a>
      <a class="item item-icon-right dark" href="#/tab/Disclaimer">免责声明<i class="icon ion-chevron-right icon-accessory"></i></a>
      <a class="item item-icon-right dark" style="border-radius: 0 0 0.5rem 0.5rem">客服电话<i class="badge">17755389211</i><i class="icon ion-chevron-right icon-accessory"></i></a>
    </div>
    <p style="font-size: 0.8rem;color: #9f9f9f;text-align: center">芜湖雪影事业有限公司运营</p>
  </ion-content>
</ion-view>
