<ion-view view-title="免责声明">
  <ion-content>
    <h4 class="padding" style="border-bottom: 1px solid #ccc;padding-bottom: 1rem;">雪影实业免责说明</h4>
    <div class="padding"  style="text-indent: 2rem;font-size: 0.8rem;color: #9f9f9f">
      <p>1.摩灿智能科技仅为使用者提供对应的自助服务，不承担保管及任何安全保障，请在离开时锁好爱车；如出现损坏、遗失、被盗等情况，摩灿智能科技均不承担经济和法律责任。</p>
      <p>2.请严格按照摩灿智能科技操作指南进行操作，如因使用者操作不当引发的一切损失及后果由使用者自行承担，并赔偿摩灿智能科技相应损失。</p>
    </div>
    <div class="text-center">
      <img src="img/start-icon.png" style="width: 5rem;height: 5rem;margin: 1rem 0">
      <div class="positive-bg light" style="font-size: 0.8rem;line-height: 2rem">版权所有 @2017 芜湖摩灿智能科技有限公司<br/>皖ICP备15008605号</div>
    </div>
  </ion-content>
</ion-view>
