<ion-view view-title="意见反馈">
  <ion-content>

    <p class="positive padding" style="font-size: 0.8rem">|&nbsp;&nbsp;芜湖雪影实业有限公司虚心接受您的意见与建议</p>
    <textarea placeholder="输入您的宝贵意见与建议...（500字以内）" style="border: 1px solid #ccc;border-radius: 0.5rem;width: 90%;height:6rem;margin-left: 5%"></textarea>

    <p class="positive padding" style="font-size: 0.8rem">|&nbsp;&nbsp;请输入您的联系方式</p>
    <input type="text" placeholder="请输入手机号码" style="border: 1px solid #ccc;border-radius: 0.5rem;width: 90%;margin-left: 5%"/>

    <a class="button button-positive button-small" style="margin:4rem 0 0 25%;width: 10rem;font-size: 1.2rem;padding: 0.4rem 0;border-radius: 2rem">确认提交</a>
  </ion-content>
</ion-view>
