<ion-view view-title="绑定手机号">
  <ion-content>
    <ion-list>
      <ion-item class="item item-image text-center" style="margin-bottom: 1rem;box-shadow: 0 1px 5px #ccc">
        <img src="img/start-icon.png" style="width: 3rem;height: 3rem;margin: 1rem 0.5rem 1rem 0;vertical-align: -2rem">
        <span style="font-size: 1.5rem">摩灿智能</span>
      </ion-item>

      <ion-item class="item item-input" style="margin: 1rem;border-radius: 0.7rem">
        <i class="icon ion-iphone" style="font-size: 1.5rem"></i>
        <input type="text" placeholder="请输入手机号"/>
      </ion-item>

      <ion-item class="item item-input" style="margin: 1rem;border-radius: 0.7rem">
        <input type="text" placeholder="请输入短信验证码"/>
        <a class="button button-assertive button-small" style="width:6rem;margin-right: 1rem">获取验证码</a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
