<ion-view view-title="设置密码">
  <ion-content>
    <ion-list>

      <ion-item class="item item-input" style="margin: 1rem;border-radius: 0.7rem">
        <i class="icon ion-ios-unlocked" style="font-size: 1.5rem;margin-right: 0.5rem"></i>
        <input type="text" placeholder="请输入新密码"/>
      </ion-item>

      <ion-item class="item item-input" style="margin: 1rem;border-radius: 0.7rem">
        <i class="icon ion-ios-unlocked" style="font-size: 1.5rem;margin-right: 0.5rem"></i>
        <input type="text" placeholder="重复新密码"/>
      </ion-item>

    </ion-list>

    <a class="button button-positive button-small" style="margin-left: 25%;width: 10rem;font-size: 1.2rem;padding: 0.4rem 0;border-radius: 2rem">确认提交</a>
  </ion-content>
</ion-view>
