<ion-view view-title="个人资料">
  <ion-content>
    <ion-list>
      <ion-item class="item item-avatar-right" style="margin-bottom: 1rem;box-shadow: 0 1px 5px #ccc;">
        <img src="img/start-icon.png">
        <span style="line-height: 2rem">头像</span>
      </ion-item>

      <ion-item class="item-icon-right">
        <span>用户名</span>
        <i class="badge">糖糖糖唐不爱吃糖</i>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-icon-right" href="#/tab/boundiphone">
        <span>手机号</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-icon-right" href="#/tab/changepsd">
        <span>设置密码</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
