<ion-view view-title="绑定手机号">
  <ion-content>
    <ion-list>
      <ion-item class="item item-input item-icon-right" style="margin: 1rem;border-radius: 0.7rem">
        <input type="text" placeholder="请输入10位卡号或11位手机号"/>
        <i class="icon icon-saoyisao positive"></i>
      </ion-item>
    </ion-list>
    <div class="row" style="border-top: 1px solid #ccc;margin-top: 21rem">
      <span class="col-66"></span>
      <a class="col button button-small light" style="background: #ccc;margin: 0;font-size: 1rem;line-height: 2rem;">确认绑定</a>
    </div>
  </ion-content>
</ion-view>
