<ion-view view-title="我要购买">
  <ion-content>

      <p class="positive padding" style="font-size: 0.8rem">|&nbsp;&nbsp;请输入您的手机号</p>
      <input type="text" placeholder="请输入手机号码" style="border: 1px solid #ccc;border-radius: 0.5rem;width: 90%;margin-left: 5%"/>
      <p class="positive padding" style="font-size: 0.8rem">|&nbsp;&nbsp;备注</p>
      <textarea placeholder="提交后，我们会在3个工作日内与您取得联系，请保持手机畅通！" style="border: 1px solid #ccc;border-radius: 0.5rem;width: 90%;height:6rem;margin-left: 5%"></textarea>

      <a class="button button-positive button-small" style="margin:4rem 0 0 25%;width: 10rem;font-size: 1.2rem;padding: 0.4rem 0;border-radius: 2rem">确认提交</a>
  </ion-content>
</ion-view>
