<ion-view view-title="消费记录">
  <ion-content>
    <div>
      <a class="item item-icon-left item-icon-right dark" href="#/tab/eleconsume_list"><i class="icon icon-dianping energized" style="font-size: 1.5rem;"></i>充电记录<i class="icon ion-chevron-right icon-accessory"></i></a>
      <a class="item item-icon-left item-icon-right dark"><i class="icon icon-xiyiji icon-accessory" style="font-size: 1.8rem;margin-left: 0.5rem"></i>洗衣记录<i class="icon ion-chevron-right icon-accessory"></i></a>
      <a class="item item-icon-left item-icon-right dark" href="#/tab/carconsume_list"><i class="icon icon-xiche balanced" style="font-size: 1.8rem;"></i>洗车记录<i class="icon ion-chevron-right icon-accessory"></i></a>
      <a class="item item-icon-left item-icon-right dark"><i class="icon icon-iconchongdianzhuang icon-accessory" style="font-size: 1.5rem;margin-left: 0.5rem"></i>充电桩记录<i class="icon ion-chevron-right icon-accessory"></i></a>
    </div>
  </ion-content>
</ion-view>
