<ion-view view-title="充电记录">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="eleconsume in eleconsumes" type="item-text-wrap" href="#/tab/eleconsume_list/{{eleconsume.id}}" style="margin: 1rem;border-radius: 1rem;">
        <div>
          <h2>{{eleconsume.time}}</h2>
          <small class="assertive" style="float: right;margin: -0.5rem -1rem 0 0;">{{eleconsume.money}}</small>
          <p>充电时长：{{eleconsume.duration}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <ion-option-button class="button-assertive" ng-click="remove(eleconsume)">
            Delete
          </ion-option-button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
