<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="充电详情">
  <ion-content>
    <div class="text-center assertive" style="padding: 1rem 0;margin-bottom: 1rem">
      <h2 class="assertive" style="font-size: 2rem">{{eleconsume.money}}</h2>
      <small>充电{{eleconsume.duration}}分钟</small>
    </div>
    <div>
      <a class="item dark" style="font-size: 0.8rem">充电时间 <small style="float: right">{{eleconsume.time}}</small></a>
      <a class="item dark" style="font-size: 0.8rem">付款方式 <small style="float: right">{{eleconsume.payment}}</small></a>
      <a class="item dark" style="font-size: 0.8rem">交易单号 <small style="float: right">{{eleconsume.OrderNo}}</small></a>
    </div>
  </ion-content>
</ion-view>
