<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>车位详情</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../font/iconfont.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../font/iconfont.js"></script>
    <script type="text/javascript" src="../js/autorem.js"></script>
</head>

<body>
<div class="in_top">
    <a href="javascript:history.back()"><i><svg class="icon icon_fanhui" aria-hidden="true"><use xlink:href="#icon-fanhui"></use></svg></i><span>我的</span></a><div class="in_title">车位详情</div>
</div>
<div class="nearbycarbarn">
    <ul>
        <li>
            <div class="carbarn_list_up">
                <span>空闲电动车车位：123</span>
            </div>
            <div class="carbarn_address"><p>消费标准：250/月，3000/年</p></div>
        </li>
        <li>
            <div class="carbarn_list_up">
                <span>空闲摩托车车位：123</span>
            </div>
            <div class="carbarn_address"><p>消费标准：250/月，3000/年</p></div>
        </li>
        <li>
            <div class="carbarn_list_up">
                <span>空闲自行车车位：123</span>
            </div>
            <div class="carbarn_address"><p>消费标准：250/月，3000/年</p></div>
        </li>
        <li>
            <div class="carbarn_list_up">
                <span>空闲三轮车车位：123</span>
            </div>
            <div class="carbarn_address"><p>消费标准：250/月，3000/年</p></div>
        </li>
    </ul>
    <a href="apply_carbarn.html">申请车位</a>
</div>

</body>
</html>
