<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>附近车库</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../font/iconfont.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../font/iconfont.js"></script>
    <script type="text/javascript" src="../js/autorem.js"></script>
</head>

<body>
<div class="in_top">
    <a href="javascript:history.back()"><i><svg class="icon icon_fanhui" aria-hidden="true"><use xlink:href="#icon-fanhui"></use></svg></i><span>我的</span></a><div class="in_title">附近车库</div>
</div>
<div class="nearbycarbarn">
    <ul>
        <li><a href="free_carbarn.html">
            <div class="carbarn_list_up">
                <span>伟星金域华府</span>
                <div class="carbarn_list_right">
                    <label>21546m</label>
                    <b>123车位可用</b>
                </div>
            </div>
            <div class="carbarn_address"><p>安徽省芜湖市弋江区利民路伟星金域华府10栋3单元负一层</p></div>
        </a></li>
        <li><a href="free_carbarn.html">
            <div class="carbarn_list_up">
                <span>伟星金域华府</span>
                <div class="carbarn_list_right">
                    <label>21546m</label>
                    <b>3车位可用</b>
                </div>
            </div>
            <div class="carbarn_address"><p>安徽省芜湖市弋江区利民路伟星金域华府10栋3单元负一层</p></div>
        </a></li>
        <li><a href="free_carbarn.html">
            <div class="carbarn_list_up">
                <span>伟星金域华府</span>
                <div class="carbarn_list_right">
                    <label>21546m</label>
                    <b class="unfree">无车位可用</b>
                </div>
            </div>
            <div class="carbarn_address"><p>安徽省芜湖市弋江区利民路伟星金域华府10栋3单元负一层</p></div>
        </a></li>
    </ul>
</div>

</body>
</html>
