<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>支付失败</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../font/iconfont.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../font/iconfont.js"></script>
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/autorem.js"></script>
</head>

<body>
<div class="in_top">
    <a href="javascript:history.back()"><i><svg class="icon icon_fanhui" aria-hidden="true"><use xlink:href="#icon-fanhui"></use></svg></i><span>我的</span></a><div class="in_title">支付失败</div>
</div>
<div class="pay_remind">
    <i><svg class="icon icon-shibai" aria-hidden="true"><use xlink:href="#icon-shibai"></use></svg></i>
    <p>账户余额不足，支付失败！</p>
    <a href="pay_carbarn.html">重新支付</a>
    <a href="../index.html">取消支付</a>
</div>
</body>
</html>
