<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>排队等候</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../font/iconfont.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../font/iconfont.js"></script>
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/autorem.js"></script>
</head>

<body>
<div class="in_top">
    <a href="javascript:history.back()"><i><svg class="icon icon_fanhui" aria-hidden="true"><use xlink:href="#icon-fanhui"></use></svg></i><span>我的</span></a><div class="in_title">排队等候</div>
</div>
<div class="pay_remind">
    <i><svg class="icon icon-bhjpaidui-copy" aria-hidden="true"><use xlink:href="#icon-bhjpaidui-copy"></use></svg></i>
    <p>申请排队成功，如有空闲车位，我们将第一时间联系您，请耐心等待！</p>
    <p>您可以在“我的订单”内查看排队等候的详细情况。</p>
    <p>如有问题请联系我们：1333333333</p>
    <a href="../index.html">返回首页</a>
</div>
</body>
</html>
