<ion-view view-title="代理商管理">
  <ion-content class="text-center light">
    <div class="assertive-bg"style="height: 10rem;padding-top: 2rem">
      <h2 class="light">222.22</h2>
      <small>昨日收益（元）</small>
      <p style="margin: 1rem 0 0 0">总收入金额：2222222.22</p>
    </div>
    <ul class="row" style="padding: 0;height: 6rem;">
      <li class="col col-50 positive-bg">
        <h3 class="light" style="margin-top: 0.6rem">50%</h3>
        <small>设备使用率</small>
      </li>
      <li class="col energized-bg">
        <h3 class="light" style="margin-top: 0.6rem">500人</h3>
        <small>服务用户数</small>
      </li>
    </ul>
    <ul class="row" style="padding: 0;height: 6rem">
      <li class="col col-50 balanced-bg">
        <h3 class="light" style="margin-top: 0.6rem">123</h3>
        <small>昨日充值金额</small>
      </li>
      <li class="col royal-bg">
        <h3 class="light" style="margin-top: 0.6rem">500元</h3>
        <small>历史充值金额</small>
      </li>
    </ul>
    <a href="#/tab/community_list" class="button calm-bg light" style="margin-top: 3rem;width: 15rem">查看小区管理员信息</a>
  </ion-content>
</ion-view>
