<ion-view view-title="小区管理员信息">
  <ion-content>
    <ul class="list">
      <li class="item item-icon-left" style="margin-top: 1rem;padding: 2rem" ng-click="toggleMenu('tab1')">
        <i class="icon ion-person assertive-bg light" style="width: 3.5rem;height: 3.5rem;font-size: 3rem;margin-top: 0.9rem;padding-left: 0.6rem"></i>
        <p style="font-size: 1.2rem;margin-left: 3rem">王老五</p>
        <div id="tab1">
          <p><span>联系方式：</span>18888888888</p>
          <p><span>电子邮箱：</span>wanglaowu@163.com</p>
          <p><span>公司名称：</span>摩灿智能科技有限公司</p>
          <p><span>小区地址：</span>安徽省芜湖市广告产业园</p>
        </div>
      </li>
      <li class="inactive item item-icon-left" style="margin-top: 1rem;padding: 2rem" ng-click="toggleMenu('tab2')">
        <i class="icon ion-person energized-bg light" style="width: 3.5rem;height: 3.5rem;font-size: 3rem;margin-top: 0.9rem;padding-left: 0.6rem"></i>
        <p style="font-size: 1.2rem;margin-left: 3rem">张老三</p>
        <div id="tab2">
          <p><span>联系方式：</span>18888888888</p>
          <p><span>电子邮箱：</span>wanglaowu@163.com</p>
          <p><span>公司名称：</span>摩灿智能科技有限公司</p>
          <p><span>小区地址：</span>安徽省芜湖市广告产业园</p>
        </div>
      </li>
      <li class="inactive item item-icon-left" style="margin-top: 1rem;padding: 2rem" ng-click="toggleMenu('tab3')">
        <i class="icon ion-person energized-bg light" style="width: 3.5rem;height: 3.5rem;font-size: 3rem;margin-top: 0.9rem;padding-left: 0.6rem"></i>
        <p style="font-size: 1.2rem;margin-left: 3rem">张老三</p>
        <div id="tab3">
          <p><span>联系方式：</span>18888888888</p>
          <p><span>电子邮箱：</span>wanglaowu@163.com</p>
          <p><span>公司名称：</span>摩灿智能科技有限公司</p>
          <p><span>小区地址：</span>安徽省芜湖市广告产业园</p>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
