<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>我的车位</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../font/iconfont.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../font/iconfont.js"></script>
    <script type="text/javascript" src="../js/autorem.js"></script>
</head>

<body>
<div class="in_top">
    <a href="javascript:history.back()"><i><svg class="icon icon_fanhui" aria-hidden="true"><use xlink:href="#icon-fanhui"></use></svg></i><span>我的</span></a><div class="in_title">我的车位</div>
</div>
<div class="nearbycarbarn">
    <ul>
        <li><a href="my_carbarn.html">
            <div class="carbarn_list_up">
                <span>车位编号：#A-01</span>
                <div class="carbarn_list_right">
                    <label>电瓶车车位</label>
                </div>
            </div>
            <div class="carbarn_address"><p>柏庄观邸</p></div>
        </a></li>
    </ul>
</div>

</body>
</html>
